<div class="container">
  <div class="form-container">
    <h2>Şifre Güç Ölçer</h2>
    <input [(ngModel)]="password" type="password" placeholder="Şifrenizi giriniz" (input)="checkStrength()" />

    <div class="strength-bars">
      <div *ngFor="let bar of bars; let i = index"
           [ngClass]="getBarClass(i)"
           class="bar"></div>
    </div>

    <p class = "text-class" [ngClass]="strengthClass">{{ strengthText }}</p>


    <button *ngIf="password.length > 0" (click)="resetPassword()" class="reset-button">Yeniden Dene</button>


  </div>

</div>
